.casilla {
    height: 200px;
    width: 500px;
    background-color: #F2F2F2;
}

.col {
    padding-left: 350px;
    padding-top: 10px;

}

.color-acento {
    color: #4AB4DD
}

header {
    background-color: rgb(245, 245, 245);
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: #4AB4DD;
}

h1 {
    padding-top: 25px;
    padding-bottom: 20px;
}

.perfil {
    width: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 2.7em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

.index_button {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 10px 10px 10px;

    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #4AB4DD;

}

button:hover {
    background-color: #018ABE;
}

.container_index {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: #4AB4DD
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 50px;
    text-align: left;
    font-weight: bold;
    color: #4AB4DD;
    font-size: 1.6em;
}

header .container_index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: #4AB4DD;
}



#caracteristicas li {
    margin: 50px 0px;
    font-weight: bold;
    font-size: 40px;


}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;

}

.container_index img {
    width: 20px;
    height: 20px;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;

    color: rgb(100, 100, 100)
}



footer {
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row_footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col_footer {
    flex-basis: 25%;
    padding: 10px;
}

.col_footer:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.footer_logo {
    width: 100px;
    position: relative;
    top: -15px;
    left: 20px;
}

.footer_about {
    position: relative;
    top: -23px;
}

.col_footer h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.footer_email {
    width: fit-content;
    border-bottom: 1px solid #4AB4DD;
    margin: 20px 0;
}

.col_footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col_footer ul li a {
    text-decoration: none;
    color: #fff;
}

.col_footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4AB4DD;
    margin-bottom: 50px;
}

.col_footer form .icon {
    font-size: 18px;
    margin-right: 10px;
}

.col_footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.col_footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col_footer form button .icon_right {
    font-size: 16px;
    color: #ccc;
}

.col_footer .social_icons .social_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    color: #fff;
    background: #4AB4DD;
    margin-right: 15px;
    padding: 20px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}