*{
    margin: 0%;
    box-sizing: border-box;
}
.product{
    padding-top: 20px;
    
    

}

.product-small-imgs img{
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;}

.product-small-imgs{
    width: 8%;
     display: flex;}

.imgs-container img{
    height: 500px;
    right: 50%;


}
    

.imgs-container{
    padding: 10px;
    width: 45%;
    border: 10px solid rgba(0,0,0,.2);

    
    }

.card-body{
    width: 10%;
    height: 10vh;
    margin: 2%;
    text-align: center;

}

.titulo{
    text-align: center;
    font-size: xxx-large;
    
}

.contenido{
    text-align: center;
    border: 10px solid rgba(0,0,0,.2);
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

header{
    position: initial;

}